<document>
<paradeTemplate>
   <list>
      <header>
         <title>Available Channels</title>
      </header>
      <section>
         {{#each channels as |channel|}}
         <listItemLockup onselect="play('{{channel.name}}'')">
            <title>{{channel.label}}</title>
         </listItemLockup>
         {{/each}}
      </section>
      <relatedContent>
         <imgDeck>
            <img src="http://localhost:5000/stswe1.png" />
            <img src="http://localhost:5000/skaneby1.png" />
         </imgDeck>
      </relatedContent>
   </list>
</paradeTemplate>
</document>
